doctype html
html(ng-app='uklfi')
html
  head
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-resource.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-route.js')
    script(src='/javascripts/AngularMain.js')
    script(src='C:/Users/Shlomie/Documents/UKLFI/bower_components/bower_components/angular-autoFields-bootstrap/autofields-bootstrap.js')
    script(src='C:/Users/Shlomie/Documents/UKLFI/bower_components/angular/angular.js')
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
  body
    block content