<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div ng-app="uklfi" ng-controller="E6" class="md-padding checkboxdemoBasicUsage" ng-cloak="">
    <div>
        <fieldset class="standard">
            <legend>Using <code>ng-model</code></legend>
            <div layout="column" layout-wrap="" layout-gt-sm="row">
                <div flex-xs="" flex="50">
                    <md-checkbox ng-model="data.cb1" aria-label="Checkbox 1">
                        Checkbox 1: {{ data.cb1 }}
                    </md-checkbox>
                </div>
            </div>
        </fieldset>
    </div>
</div>

Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at http://material.angularjs.org/license.
-->
</body>
</html>
